body, html {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif !important;
}


.w-100 {
    object-fit: cover !important;
    height: 60vh !important;
}

p {
    font-size: 16px !important;
}