{% load static %}
<style type="text/css">
  .navbar {
    background: #F28705 !important;
    color: #fff!important;
  }
  .nav-link {
    font-weight: bold !important;
    color: #fff !important;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
  <div class="container-fluid">
    <img class="navbar-brand" src="{% static 'images/logo.png' %}" width="70" height="70" style="object-fit: cover;" href="#"></img>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'event:school' %}">Our School</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vacancy:vacancy' %}">Vacancies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'event:about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'event:contact' %}">Contact</a>
        </li>
        
      </ul>
      <span class="navbar-text">
        <a href="https://twitter.com/DBE_SA?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @DBE_SA</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        
      </span>
    </div>
  </div>
</nav>