{% extends 'base.html' %}
{% load static %}
{% block content %}


{% include '_navbar.html' %}

<div class="container mb-5" id="about">
	<div class="row">
<!---			<div class="col-lg-12 mb-5">
		<h4>About.</h4>
			<p>
				Phasellus bibendum feugiat sem, a tristique justo venenatis vitae. <br><br>Nullam rutrum ac massa sed efficitur. Vivamus id nulla ligula. Fusce id arcu nec tellus elementum cursus in vitae ante. Phasellus pulvinar eros nisi, blandit condimentum mi semper vel. Curabitur volutpat libero sit amet lectus scelerisque placerat.
			</p>
			
		</div>

		----->
		<div class="col-lg-12 mission">
			<strong>Mission.</strong>
				<ul class="">
					<li class="">
						To support and encourage learners to develop to their full potential in a conducive and secure learning environment.
					</li>
					<li class="">
						To ensure quality learning and teaching takes place in class.
					</li>
					<li class="">
						To build and sustain an ongoing parental partnership and community involvement.
					</li>
					<li class="">
						To support and develop staff to provide continuos quality service through ICT and other means.
					</li>
				</ul>
		</div>
		<div class="col-lg-12 vision">
			<strong>Vision.</strong>
			<p>
				To be a dynamic future focused, innovative and respected school.
			</p>
		</div>
	</div>
</div>


{% include 'footer.html' %}


<style type="text/css">
	#about {
		margin-top: 8rem;
	}
	
</style>

{% endblock %}