<div class="container mt-5">
	<h4 class="">Contact.</h4>
	<div class="row">
		<div class="col-lg-6">
			<aside class="sidebar">
			<div class="single contact-info">
			
			<ul class="list-unstyled">
			<li>
			<div class="icon"><i class="fa fa-map-marker"></i></div>
			<div class="info"><p>41 Fairwood Avenue, The Orchards, 0182</p></div>
			</li>

			<li>
			<div class="icon"><i class="fa fa-phone"></i></div>
			<div class="info"><p><a href="tel:012 549 4594">012 549 4594</a></p></div>
			</li>

			<li>
			<div class="icon"><i class="fa fa-envelope"></i></div>
			<div class="info"><p><a href="mailto:info@orchardsprimarytw.co.za">info@orchardsprimarytw.co.za</a></p></div>
			</li>
			</ul>
			</div>
			</aside>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12">
			<div style="width: 100%"><iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=300&amp;hl=en&amp;q=41%20fairwood%20the%20orchads+(The%20orchards%20Primary%20School)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/truck-gps/">delivery trucks gps</a></iframe></div>
		</div>
	</div>
</div>



<style>
	aside.sidebar .single {
		margin-top: 40px;
	}

	p {
	    margin-top: 12px;
	    margin-bottom: 0px;
	}
	aside.sidebar .single h3.side-title {
		margin: 0;
		margin-bottom: 10px;
		padding: 0;
		font-size: 20px;
		color: #333;
		text-transform: uppercase; 
	}


    aside.sidebar .single h3.side-title:after {
		content: '';
		width: 60px;
		height: 1px;
		background: #00b0ff;
		display: block;
		margin-top: 6px; }
		.single.contact-info {
		background: none;
		border: none; }
		.single.contact-info li {
		margin-top: 30px; }
		.single.contact-info li .icon {
		display: block;
		float: left;
		margin-right: 10px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 1px solid #f0f0f0;
		color: #00b0ff;
		text-align: center;
		line-height: 50px; }
		.single.contact-info li .info {
		overflow: hidden; 
	}
		    
    
</style>

