<div class="container-fluid sub-footer text-center mt-5">
    <div class="row">
        <div class="col-lg-4">
            <br>
            <strong class="strong">Postal Address.</strong>
            <p style="font-size: 12px !important;">
                PO BOX 42001<br>
                Boordfontein <br>
                0201.
            </p>

            <strong class="strong">Physical Address.</strong>
            <p style="font-size: 12px !important;">
                41 Fairwood Avenue<br>
                The Orchards <br>
                Akasia, 0182.
            </p>
        </div>

        <div class="col-lg-4">
            <br>
            <strong class="strong">Support.</strong>
            <p style="font-size: 12px !important;">
                info@orchardsprimarytw.co.za<br>
                Call: 012 549 5991 <br>
            </p>
        </div>

        <div class="col-lg-4">
            <br>
            <strong class="strong">Social Media.</strong> <br>
            <a href="https://twitter.com/DBE_SA?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @DBE_SA</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>


<div class="container-fluid text-center footer">
    <div class="row">
        <div class="col-lg-12">
            <p class="pt-5" style="font-size: 10px !important;">The Orchards Primary School (TOPS) &copy 2022</p>
        </div>
    </div>
</div>


<style>
    .footer {
        background: #F27405 !important;
    }

    .pt-5 {
        padding-top: 0.5rem!important;
        color: #fff;
    }

/*
    @media (min-width:576px) {
        .pt-5 {
        padding-left :0px;
    }
*/
    .sub-footer {
        background: #F28705 !important;
    }

    .sub-footer strong {
        padding-top: 25px !important;
        color: white;
    }

    .sub-footer p {
        color: white;
    }

    .sub-footer a {
        color: white;
    }

</style>

