{% extends 'base.html' %}
{% load static %}
{% block content %}


{% include '_navbar.html' %}


<div class="container mb-5" id="school" style="margin-top: 8rem">
    <h4>Our School.</h4>
    <p class="mb-5">
        Everything you need to know about our school.
    </p>
    <div class="row">
        <div class="col-lg-12 mb-5">
            <strong>School Policy.</strong> <br><br>
                
            <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        School Times.
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <ul class="">
            <li class="">
                <strong>School starts at 07h00 for educators and 07h25 for learners and ends at 14h30 for teachers and 13h30 for learners</strong>, unless there are compelling reasons for such times to be extended and/or reduced.
            </li>
            <li class="">
                The Administration Office shall be open <strong>from 07h00 untill 15h30.</strong>
            </li>
        </ul>
    </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Vistors.
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          <ul class="">
            <li class="">
                All visitors shall report at the Reception Official.
            </li>
            <li class="">
                The Receptionist shall determine the visitors business at school and make appointments or refer the visitor to the relevant office.
            </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Excuesions
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          <ul class="">
            <li class="">
                Excuesions shall be applied for at the District as per department directives.
            </li>
            <li class="">
                Educators must have a signed permission/consent form in their possession, in which the parents grant their permission for the learner to go on an arranged excursion.
            </li>
            <li class="">
                All requests for transport must be directed to the Principal and the Principal or his/her delagete representative will make the necessary reservations then inform staff that the reservations are in order.
            </li>
            <li class="">
                All reservations for transport must be made two weeks in advance so the bus company could be informed well in advance.
            </li>
            <li class="">
                For each 20 learners on a bus, there should be one educator to take responsibility for the 20 learners under his/her care.
            </li>
            <li class="">
                During sports trips, the coach of the team is responsible for supervision and control of the team on the bus, during their stay at the guest school and also at the team's return to their own school.
            </li>
            <li class="">
                Any learner who damages a seat on the bus or who causes any other damage will be held responsible for the cost of repairs.
            </li>
            <li class="">
                Educators on the buses should take care that no limbs extend outside the bus windows at any time during the trip.
            </li>
            <li class="">
                No objects should be thrown from the bus, either when the bus is stationary or travelling.
            </li>
            <li class="">
                Coaches/educators are required to supervise their team membbers until the last learner has departed after the group's return to school.
            </li>
            <li class="">
                All garbage must be removed from the bus upon the group's return to school
            </li>
            <li class="">
                The transport official should ensure that every bus transporting learners meet all the requirements as prescribed by the department.
            </li>
        </ul>
      </div>
    </div>

    <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Learners Transfering From The School.
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <ul class="">
            <li class="">
                Parents shall inform the principal in writing that a learner will be leaving the school on transfer.
            </li>
            <li class="">
                The Administrative department/register class educator shall prepare a transfer card for the learner.
            </li>
            <li class="">
                The Administrative department/register educator furnishes the learner/parent with a list of all the textbooks/LTSM in possession of the learner to ensure that all such textbooks/LTSM are safely returned before a transfer card is issued.
            </li>
            <li class="">
                The learner is obliged to obtain signatures from all educators who have received their textbooks and learning material back from the learner to ensure complaince.
            </li>
            <li class="">
                All exercise books become the property of the learner and it is expectedd that the learner will take these exercise books along to the next school.
            </li>
            <li class="">
                The departing learner hands in the signed textbook form at the office or to his/her register class educator and receives the transfer card.
            </li>
        </ul>
          
      </div>
    </div>

    <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        Learner Assesment.
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          <ul class="">
            <li class="">
                The parents shall, on the first parent evening, be informed about the assessment process the learners would be subjected to, including types of assessment, assessment methods, tools etc.
            </li>
            <li class="">
                Parents shall receive the assessment plan by the end of the second week of each term.
            </li>
        </ul>
      </div>
    </div>
  </div>

<div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading-6">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-6" aria-expanded="false" aria-controls="flush-collapse-6">
        Learner Absence.
      </button>
    </h2>
    <div id="flush-collapse-6" class="accordion-collapse collapse" aria-labelledby="flush-heading-6" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          <ul class="">
            <li class="">
                Parents must write a letter to the register educator and ask for permission when a learner will be absent for a known reason prior to the absance.
            </li>
            <li class="">
                The educator signs the letter and files the letter in the learner profile.
            </li>
            <li class="">
                In case of absence due to sickness, the learner must hand in a letter from the parents explaining the reason for thhe learners's absence from school if there is no medical certificate.
            </li>
        </ul>
      </div>
    </div>
  </div>

<!-----<div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        Accordion Item #2
      </button>
    </h2>
    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          <ul class="">
            <li class="">
                All visitors shall report at the Reception Official.
            </li>
            <li class="">
                The Receptionist shall determine the visitors business at school and make appointments or refer the visitor to the relevant office.
            </li>
        </ul>
      </div>
    </div>
  </div>

<div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
        Accordion Item #2
      </button>
    </h2>
    <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          <ul class="">
            <li class="">
                All visitors shall report at the Reception Official.
            </li>
            <li class="">
                The Receptionist shall determine the visitors business at school and make appointments or refer the visitor to the relevant office.
            </li>
        </ul>
      </div>
    </div>
  </div>
----->

  </div>
  </div>
</div>
        


        </div>

        <strong>Tour Around The School.</strong> <br><br>
        <div class="col-lg-12">
            <div class='embed-container'>
                <iframe src='https://www.youtube.com/embed/LydoK7hXKbs' frameborder='0' allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-lg-12 mt-5">
            <strong>SMT.</strong>
            <br><br>
            <div class="row">
                <div class="owl-carousel loop owl-theme">
                    <div class="item"><h4>1</h4></div>
                    <div class="item"><h4>2</h4></div>
                    <div class="item"><h4>3</h4></div>
                    <div class="item"><h4>4</h4></div>
                    <div class="item"><h4>5</h4></div>
                    <div class="item"><h4>6</h4></div>
                    <div class="item"><h4>7</h4></div>
                    <div class="item"><h4>8</h4></div>
                    <div class="item"><h4>9</h4></div>
                    <div class="item"><h4>10</h4></div>
                    <div class="item"><h4>11</h4></div>
                    <div class="item"><h4>12</h4></div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 mt-5">
            <strong>School Governing Body.</strong>
            <br><br>
            <div class="row">
                <div class="owl-carousel loop owl-theme">
                    <div class="item"><h4>1</h4></div>
                    <div class="item"><h4>2</h4></div>
                    <div class="item"><h4>3</h4></div>
                    <div class="item"><h4>4</h4></div>
                    <div class="item"><h4>5</h4></div>
                    <div class="item"><h4>6</h4></div>
                    <div class="item"><h4>7</h4></div>
                    <div class="item"><h4>8</h4></div>
                    <div class="item"><h4>9</h4></div>
                    <div class="item"><h4>10</h4></div>
                    <div class="item"><h4>11</h4></div>
                    <div class="item"><h4>12</h4></div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 mt-5">
            <strong>Foundation Phase Teachers</strong>
            <br><br>
            <div class="row">
                <div class="owl-carousel loop owl-theme">
                    <div class="item"><h4>1</h4></div>
                    <div class="item"><h4>2</h4></div>
                    <div class="item"><h4>3</h4></div>
                    <div class="item"><h4>4</h4></div>
                    <div class="item"><h4>5</h4></div>
                    <div class="item"><h4>6</h4></div>
                    <div class="item"><h4>7</h4></div>
                    <div class="item"><h4>8</h4></div>
                    <div class="item"><h4>9</h4></div>
                    <div class="item"><h4>10</h4></div>
                    <div class="item"><h4>11</h4></div>
                    <div class="item"><h4>12</h4></div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 mt-5">
            <strong>Intersen Teachers</strong>
            <br><br>
            <div class="row">
                <div class="owl-carousel loop owl-theme">
                    <div class="item"><h4>1</h4></div>
                    <div class="item"><h4>2</h4></div>
                    <div class="item"><h4>3</h4></div>
                    <div class="item"><h4>4</h4></div>
                    <div class="item"><h4>5</h4></div>
                    <div class="item"><h4>6</h4></div>
                    <div class="item"><h4>7</h4></div>
                    <div class="item"><h4>8</h4></div>
                    <div class="item"><h4>9</h4></div>
                    <div class="item"><h4>10</h4></div>
                    <div class="item"><h4>11</h4></div>
                    <div class="item"><h4>12</h4></div>
                </div>
            </div>
        </div>

    </div>
</div>

{% include 'footer.html' %}



<style>
    .embed-container {
        position: relative; 
        padding-bottom: 56.25%; 
        height: 0; 
        overflow: hidden; 
        max-width: 100%; 
    } 

    .embed-container iframe, .embed-container object, .embed-container embed { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
    }

        
</style>

<script type="text/javascript">
    $('.loop').owlCarousel({
    center: true,
    items:2,
    loop:true,
    margin:10,
    responsive:{
        600:{
            items:4
        }
    }
});
</script>


{% endblock %}