{% extends 'base.html' %}
{% load static %}
{% block content %}


{% include '_navbar.html' %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container mt-5 text-center">
	<div class="row">
		<h5 style="font-family: 'Dancing Script', cursive;">Message from the principal.</h5>
		
		<div class="col-lg-12 text-center">
			
			<p>
				Phasellus bibendum feugiat sem, a tristique justo venenatis vitae. <br><br>Nullam rutrum ac massa sed efficitur. Vivamus id nulla ligula. Fusce id arcu nec tellus elementum cursus in vitae ante. Phasellus pulvinar eros nisi, blandit condimentum mi semper vel. Curabitur volutpat libero sit amet lectus scelerisque placerat.
			</p>
		</div>
	</div>
</div>


<div class="container mt-5 mb-5 text-center" id="news">
	<div class="row">
		<h4>News.</h4>
		<p class="mb-5" style="color: grey;">
			Phasellus bibendum feugiat sem, a tristique justo venenatis vitae. Nullam rutrum ac massa sed efficitur. Vivamus id nulla ligula. 
		</p>

		{% for event in events %}
		<div class="col-lg-4 col-md-12 col-sm-12">
			<div class="card border-light shadow bg-white border-0" style="width: 18rem;">
			  <div class="card-body">
			    <a href="{% url 'event:event' slug=event.slug %}"><h2 class="card-title">{{event | title}}</h2></a>
			    <h6 class="card-subtitle mb-2 text-muted" style="font-size: 10px; font-style: bold;">{{ event.date_created }}</h6>
			    <p class="card-text" style="">{{ event.description | slice:":150"}}</p>
			    
			  </div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>


<div class="container-fluid sub-footer mt-5">
	<div class="row">
		<div class="col-lg-4">
			<br>
			<strong class="strong">Postal Address.</strong>
			<p style="font-size: 12px !important;">
				PO BOX 42001<br>
				Boordfontein <br>
				0201.
			</p>

			<strong class="strong">Physical Address.</strong>
			<p style="font-size: 12px !important;">
				41 Fairwood Avenue<br>
				The Orchards <br>
				Akasia, 0182.
			</p>
		</div>

		<div class="col-lg-4">
			<br>
			<strong class="strong">Support.</strong>
			<p style="font-size: 12px !important;">
				Reception: admin@orchardsprimarytw.co.za<br>
				Call: 012 549 4594 <br>
			</p>
		</div>

		<div class="col-lg-4">
			<br>
			<strong class="strong">Social.</strong> <br>
			<span class="navbar-text">
		        <a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a> 
		        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i> </a>
		        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
		    </span>
		</div>
	</div>
</div>






{% include 'footer.html' %}

<style type="text/css">
	.sub-footer {
		background: #767575 !important;
	}

	.sub-footer strong {
		padding-top: 25px !important;
		color: white;
	}

	.sub-footer p {
		color: white;
	}

	.sub-footer a {
		color: white;
	}
</style>

{% endblock %}